bpel/src/main/resources/order-contract.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://globalbooks.com/order-contract/v1"
    targetNamespace="http://globalbooks.com/order-contract/v1"
    elementFormDefault="qualified">

    <xsd:complexType name="OrderItemType">
        <xsd:sequence>
            <xsd:element name="bookId" type="xsd:string"/>
            <xsd:element name="title" type="xsd:string" minOccurs="0"/>
            <xsd:element name="quantity" type="xsd:int"/>
            <xsd:element name="unitPrice" type="xsd:decimal" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ItemsType">
        <xsd:sequence>
            <xsd:element name="item" type="tns:OrderItemType" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AddressType">
        <xsd:sequence>
            <xsd:element name="street" type="xsd:string"/>
            <xsd:element name="city" type="xsd:string"/>
            <xsd:element name="country" type="xsd:string"/>
            <xsd:element name="postalCode" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="CreateOrderRequestType">
        <xsd:sequence>
            <xsd:element name="customerId" type="xsd:string"/>
            <xsd:element ref="tns:items"/>
            <xsd:element ref="tns:shippingAddress"/>
            <xsd:element name="totalAmount" type="xsd:decimal"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="OrderType">
        <xsd:sequence>
            <xsd:element name="orderId" type="xsd:string"/>
            <xsd:element name="customerId" type="xsd:string"/>
            <xsd:element ref="tns:items" minOccurs="0"/>
            <xsd:element name="totalAmount" type="xsd:decimal"/>
            <xsd:element name="currency" type="xsd:string" minOccurs="0"/>
            <xsd:element name="status" type="xsd:string"/>
            <xsd:element ref="tns:shippingAddress" minOccurs="0"/>
            <xsd:element name="createdAt" type="xsd:string" minOccurs="0"/>
            <xsd:element name="updatedAt" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ErrorResponseType">
        <xsd:sequence>
            <xsd:element name="error" type="xsd:string"/>
            <xsd:element name="details" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="items" type="tns:ItemsType"/>
    <xsd:element name="shippingAddress" type="tns:AddressType"/>
    <xsd:element name="createOrderRequest" type="tns:CreateOrderRequestType"/>
    <xsd:element name="order" type="tns:OrderType"/>
    <xsd:element name="errorResponse" type="tns:ErrorResponseType"/>
</xsd:schema>
